force-app/main/default/flows/Category_RTF_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Variables_Product_Type</name>
        <label>Assign Variables (Product Type)</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>cr_ProductType.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Trade_Type</name>
        <label>Assign Variables (Trade Type)</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>cr_TradeType.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Trade_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Product_Type</name>
        <label>Copy 1 of Product Type</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Product_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_Trade_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy 1 of Yes - Product Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type</name>
        <label>Product Type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_Product_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Product Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Category RTF (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Category RTF (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product_Type</name>
        <label>Create Product Type</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Copy_1_of_Product_Type</targetReference>
        </connector>
        <inputReference>cr_ProductType</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_Type</name>
        <label>Create Trade Type</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>cr_TradeType</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_Type</targetReference>
        </connector>
        <object>buildertek__Category__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cr_ProductType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Product_Type__c</objectType>
    </variables>
    <variables>
        <name>cr_TradeType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Trade_Type__c</objectType>
    </variables>
</Flow>
