force-app/main/default/flows/Create_Budget_Line_Item_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Amount_from_Amount</name>
        <label>Assign Amount (from Amount)</label>
        <locationX>842</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>cr_BudgetLineItem.buildertek__Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables_Budget_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Budget_Variables</name>
        <label>Assign Budget Variables</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>cr_Budget.buildertek__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Item_Name</name>
        <label>Assign Line Item Name</label>
        <locationX>710</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>cr_BudgetLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Category_Products_Selected.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_BudgetLineItem.buildertek__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Product_Details_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Budget_Line_Group</name>
        <label>Assign Variables (Budget Line Group)</label>
        <locationX>622</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>cr_BudgetLineGroup.buildertek__Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_Budget.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_BudgetLineGroup.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Categories.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Products_by_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Budget_Line_Item</name>
        <label>Assign Variables (Budget Line Item)</label>
        <locationX>710</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>cr_BudgetLineItem.buildertek__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Category_Products_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_BudgetLineItem.buildertek__Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_Budget.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_BudgetItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cr_BudgetLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Category_Products_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_from_Project</name>
        <label>Assign Variables (from Project)</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PriceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_from_RecordId.buildertek__Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Budget_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Quantity</name>
        <label>Assign Amount (Price per Sqft)</label>
        <locationX>578</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>cr_BudgetLineItem.buildertek__Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_AmountPerSqft</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables_Budget_Line_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Categories_Selected</name>
        <label>Categories Selected</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Categories_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tbl_Categories.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Selected_Categories</targetReference>
            </connector>
            <label>Yes - Categories Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Category_Products_Selected</name>
        <label>Category Products Selected</label>
        <locationX>622</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Selected_Categories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Category_Products_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tbl_CategoryProducts.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Category_Products_Selected</targetReference>
            </connector>
            <label>Yes - Category Products Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_RecordId</name>
        <label>Identify RecordId</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Enter_Budget_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_from_RecordId</targetReference>
            </connector>
            <label>Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_per_Sqft</name>
        <label>Price per Sqft</label>
        <locationX>710</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>Assign_Amount_from_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Price_per_Sqft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chk_Price_per_Sq_Ft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_Quantity</targetReference>
            </connector>
            <label>Yes - Price per Sqft</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frm_AmountPerSqft</name>
        <dataType>Currency</dataType>
        <expression>{!var_Price_Sqft}*{!cr_BudgetLineItem.buildertek__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Budget Line Item Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Budget Line Item Screen Flow</label>
    <loops>
        <name>Loop_through_Category_Products_Selected</name>
        <label>Loop through Category Products Selected</label>
        <locationX>490</locationX>
        <locationY>1934</locationY>
        <collectionReference>tbl_CategoryProducts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Line_Item_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Budget_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Selected_Categories</name>
        <label>Loop through Selected Categories</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <collectionReference>tbl_Categories.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables_Budget_Line_Group</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Budget</name>
        <label>Create Budget</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Get_Categories</targetReference>
        </connector>
        <inputReference>cr_Budget</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Budget_Line_Items</name>
        <label>Create Budget Line Items</label>
        <locationX>490</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Loop_through_Selected_Categories</targetReference>
        </connector>
        <inputReference>coll_BudgetItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Categories</name>
        <label>Get Categories</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Budget_Categories</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Category__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_by_Category</name>
        <label>Get Products (by Category)</label>
        <locationX>622</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Products</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>buildertek__Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Selected_Categories.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>buildertek__Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>buildertek__Trade_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_from_RecordId</name>
        <label>Get Project (from RecordId)</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables_from_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>buildertek__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Enter_Budget_Details</name>
        <label>Enter Budget Details</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Budget_Variables</targetReference>
        </connector>
        <fields>
            <name>Enter_Budget_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Budget_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Budget.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Budget_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Budget.buildertek__Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Product_Details_Category</name>
        <label>Enter Product Details</label>
        <locationX>710</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Price_per_Sqft</targetReference>
        </connector>
        <fields>
            <name>Enter_Product_Details_Category_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Product_Details_Category_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_BudgetLineItem.Name</objectFieldReference>
                </fields>
                <fields>
                    <name>chk_Price_per_Sq_Ft</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Price per Sq Ft</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Product_Details_Category_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_BudgetLineItem.buildertek__Quantity__c</objectFieldReference>
                </fields>
                <fields>
                    <name>var_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>chk_Price_per_Sq_Ft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>var_Price_Sqft</name>
                    <dataType>Currency</dataType>
                    <fieldText>Price/Sqft</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>chk_Price_per_Sq_Ft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>cr_BudgetLineItem.buildertek__Description__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Budget_Categories</name>
        <label>Select Budget Categories</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Categories_Selected</targetReference>
        </connector>
        <fields>
            <name>tbl_Categories</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>buildertek__Category__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Categories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-05ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Category Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products</name>
        <label>Select Products</label>
        <locationX>622</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Category_Products_Selected</targetReference>
        </connector>
        <fields>
            <name>tbl_CategoryProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products_by_Category</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2db7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-1d90&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identify_RecordId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>coll_BudgetItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Budget_Item__c</objectType>
    </variables>
    <variables>
        <name>coll_RFQLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__RFQ_Item__c</objectType>
    </variables>
    <variables>
        <name>cr_Budget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Budget__c</objectType>
    </variables>
    <variables>
        <name>cr_BudgetLineGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Budget_Line_Group__c</objectType>
    </variables>
    <variables>
        <name>cr_BudgetLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Budget_Item__c</objectType>
    </variables>
    <variables>
        <name>cr_RFQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__RFQ__c</objectType>
    </variables>
    <variables>
        <name>cr_RFQLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__RFQ_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Project</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
