force-app/main/default/flows/Create_RQG_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>666</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>coll_RFQLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cr_RFQLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Trade_Work</name>
        <label>Add to Collection (Trade Work)</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>coll_SelectedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tbl_Products.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Products_Product_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RFQ_Quote_Line_Item</name>
        <label>Assign RFQ (Quote Line Item)</label>
        <locationX>534</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Quote_Line_Items.buildertek__RFQ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_RFQ.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_from_Budget_Line_Item</name>
        <label>Assign Variables (from Budget Line Item)</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget_Item.buildertek__Budget__r.buildertek__Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_RFQ_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_from_Project</name>
        <label>Assign Variables (from Project)</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PriceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_from_RecordId.buildertek__Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_RFQ_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_RFQ_Line_Item</name>
        <label>Assign Variables (RFQ Line Item)</label>
        <locationX>666</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>cr_RFQLineItem.buildertek__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_RFQLineItem.buildertek__RFQ_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_RFQ.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Collection_Trade_Work</name>
        <label>Copy 1 of Add to Collection (Trade Work)</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>coll_SelectedProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_tbl_Products.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Variables_from_Budget_Line_Item</name>
        <label>Copy 1 of Assign Variables (from Budget Line Item)</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.buildertek__Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Variables_from_Budget_Line_Item</name>
        <label>Copy 1 of Copy 1 of Assign Variables (from Budget Line Item)</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Quote.Opportunity.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_RFQ.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Product2.buildertek__Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_RFQ_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Products_Selected</name>
        <label>Copy 1 of Products Selected</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Selected_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Products_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_tbl_Products.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_to_Collection_Trade_Work</targetReference>
            </connector>
            <label>Copy 1 of Yes - Products Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_RecordId</name>
        <label>Identify RecordId</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_from_RecordId</targetReference>
            </connector>
            <label>Project</label>
        </rules>
        <rules>
            <name>Budget_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0X</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget_Item</targetReference>
            </connector>
            <label>Budget Item</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Quote_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2V</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line_Item</targetReference>
            </connector>
            <label>Quote Line Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Products_Selected</name>
        <label>Products Selected</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Get_Products_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Products_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tbl_Products.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Collection_Trade_Work</targetReference>
            </connector>
            <label>Yes - Products Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Quote_Line_Items</name>
        <label>Update Quote Line Items</label>
        <locationX>578</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>Get_Vendor_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Quote_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tbl_Products.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Quote_Line_Items</targetReference>
            </connector>
            <label>Yes - Update Quote Line Items</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create RQG Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create RFQ Screen Flow</label>
    <loops>
        <name>Loop_through_Quote_Line_Items</name>
        <label>Loop through Quote Line Items</label>
        <locationX>446</locationX>
        <locationY>3062</locationY>
        <collectionReference>tbl_QuoteLineItems.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RFQ_Quote_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Line_Items_RFQId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Selected_Products</name>
        <label>Loop through Selected Products</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <collectionReference>coll_SelectedProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enter_Product_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_RFQ_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_RFQ</name>
        <label>Create RFQ</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Trade_Type_Products</targetReference>
        </connector>
        <inputReference>cr_RFQ</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_RFQ_Line_Items</name>
        <label>Create RFQ Line Items</label>
        <locationX>578</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Update_Quote_Line_Items</targetReference>
        </connector>
        <inputReference>coll_RFQLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget_Item</name>
        <label>Get Budget Item</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables_from_Budget_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>buildertek__Budget_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_Product_Type</name>
        <label>Get Products (Product Type)</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Select_Trade_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cr_RFQ.buildertek__Trade_Type__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_from_RecordId</name>
        <label>Get Project (from RecordId)</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables_from_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>buildertek__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Variables_from_Budget_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>buildertek__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Variables_from_Budget_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Quote_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trade_Type_Products</name>
        <label>Get Trade Type Products</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Trade_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cr_RFQ.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>buildertek__Trade_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_List</name>
        <label>Get Vendor List</label>
        <locationX>578</locationX>
        <locationY>3614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Vendors</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Line_Items_RFQId</name>
        <label>Update Quote Line Items (RFQId)</label>
        <locationX>446</locationX>
        <locationY>3398</locationY>
        <connector>
            <targetReference>Get_Vendor_List</targetReference>
        </connector>
        <inputReference>coll_RFQLineItem</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Select_Trade_Products</name>
        <label>Copy 1 of Select Trade Products</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Products_Selected</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_txt_TradeProducts</name>
            <fieldText>&lt;p&gt;Select the Trade Related Products you would like to Quote&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_tbl_Products</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products_Product_Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b9df&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-07ad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-b78b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Product_Details</name>
        <label>Enter Product Details</label>
        <locationX>666</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_RFQ_Line_Item</targetReference>
        </connector>
        <fields>
            <name>Enter_Product_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Product_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_RFQLineItem.buildertek__Quantity__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Product_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>var_Cost</name>
                    <dataType>Currency</dataType>
                    <fieldText>Unit Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>cr_RFQLineItem.buildertek__Pricing_Request_Line_Detail__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_RFQ_Details</name>
        <label>Enter RFQ Details</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_RFQ</targetReference>
        </connector>
        <fields>
            <name>txt_RequestforQuote</name>
            <fieldText>&lt;p&gt;Enter details related to the quote &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_RFQ_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_RFQ_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_RFQ.Category__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_RFQ_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_RFQ.buildertek__Tentative_Start_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_RFQ.buildertek__Due_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>cr_RFQ.buildertek__Description__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Quote_Line_Items</name>
        <label>Select Quote Line Items</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_RFQ_Details</targetReference>
        </connector>
        <fields>
            <name>txt_BtQoute</name>
            <fieldText>&lt;p&gt;Select the items from the original quote that you want a more detailed bid requested&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tbl_QuoteLineItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>buildertek__Quote_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Quote_Line_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;buildertek__Item_Name__c&quot;,&quot;guid&quot;:&quot;column-7a8e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;buildertek__Quantity__c&quot;,&quot;guid&quot;:&quot;column-e8b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;buildertek__Unit_Price__c&quot;,&quot;guid&quot;:&quot;column-ae0b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;List Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;buildertek__Net_Total_Price__c&quot;,&quot;guid&quot;:&quot;column-1a48&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Trade_Products</name>
        <label>Select Trade Products</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Products_Selected</targetReference>
        </connector>
        <fields>
            <name>txt_TradeProducts</name>
            <fieldText>&lt;p&gt;Select the Trade Related Products you would like to Quote&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tbl_Products</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Trade_Type_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b9df&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-07ad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-b78b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Vendors</name>
        <label>Select Vendors</label>
        <locationX>578</locationX>
        <locationY>3734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identify_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_RFQLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__RFQ_Item__c</objectType>
    </variables>
    <variables>
        <name>coll_SelectedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>cr_RFQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__RFQ__c</objectType>
    </variables>
    <variables>
        <name>cr_RFQLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__RFQ_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Project</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Quote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TradeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
