force-app/main/default/flows/Create_Project_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Variables</name>
        <label>Assign Opportunity Variables</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>cr_Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_Opportunity.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_Opportunity.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Estimated_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Project_c</name>
        <label>Assign Variables (Project)</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>cr_Project.buildertek__Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_Project.buildertek__Anticipated_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Estimated_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_P</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Project Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Project Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Quote_Screen_Flow</targetReference>
        </connector>
        <inputReference>cr_Opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_P</name>
        <label>Create Project</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Variables</targetReference>
        </connector>
        <inputReference>cr_Project</inputReference>
    </recordCreates>
    <screens>
        <name>Enter_Project_Details</name>
        <label>Enter Project Details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_Project_c</targetReference>
        </connector>
        <fields>
            <name>txt_Opportunity</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Enter Opportunity Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Project_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Project_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Opportunity.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Project_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Opportunity.Type</objectFieldReference>
                </fields>
                <fields>
                    <name>var_Estimated_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Estimated Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>txt_ProjectDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Project Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Project_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Project_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Project.buildertek__Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Project_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Project.buildertek__City_Text__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Project.buildertek__State__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Project.buildertek__Zip__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Project_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Project_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Project.buildertek__Total_Sq_Feet__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Project_Details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Project.buildertek__Bedrooms__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Project.buildertek__Bathrooms__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Project_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Quote_Screen_Flow</name>
        <label>Create Quote Screen Flow</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <flowName>Create_Quote_Screen_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>cr_Project.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>cr_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>cr_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Project__c</objectType>
    </variables>
    <variables>
        <name>var_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
