force-app/main/default/flows/Create_Quote_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection_Selected_Products</name>
        <label>Add to Collection (Selected Products)</label>
        <locationX>402</locationX>
        <locationY>1994</locationY>
        <assignmentItems>
            <assignToReference>coll_ProductsSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tbl_CategoryProducts.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Categories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Amount_from_Amount</name>
        <label>Assign Amount (from Amount)</label>
        <locationX>666</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Markup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Markup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables_Budget_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Item_Name</name>
        <label>Assign Line Item Name</label>
        <locationX>534</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Item_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Category_Products_Selected.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Per_Sqft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_per_Sqft_True</name>
        <label>Assign Price per Sqft = True</label>
        <locationX>402</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>var_PriceperSqft</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Product_Details_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Variables</name>
        <label>Assign Quote Variables</label>
        <locationX>446</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>cr_Quote.buildertek__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_Quote.buildertek__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QuoteId</name>
        <label>Assign QuoteId</label>
        <locationX>446</locationX>
        <locationY>1154</locationY>
        <assignmentItems>
            <assignToReference>var_Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Enter_Quote_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Budget_Line_Item</name>
        <label>Assign Variables (Quote Line Item)</label>
        <locationX>534</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Category_Products_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_QuoteItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cr_QuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Category_Products_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_from_Project</name>
        <label>Assign Variables (from Project)</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PriceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_from_RecordId.buildertek__Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Quote_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Quantity</name>
        <label>Assign Amount (Price per Sqft)</label>
        <locationX>402</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Sqft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Price_Sqft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_QuoteLineItem.buildertek__Markup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Markup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables_Budget_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Price_per_Sqft_True</name>
        <label>Copy 1 of Assign Price per Sqft = True</label>
        <locationX>666</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>var_PriceperSqft</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Product_Details_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Variables_from_Project</name>
        <label>Copy 1 of Assign Variables (from Project)</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PriceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Quote_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Variables_from_Project</name>
        <label>Copy 1 of Copy 1 of Assign Variables (from Project)</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_recordId.buildertek__Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PriceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_recordId.buildertek__Opportunity__r.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_recordId.buildertek__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Enter_Quote_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Categories_Selected</name>
        <label>Categories Selected</label>
        <locationX>446</locationX>
        <locationY>1394</locationY>
        <defaultConnector>
            <targetReference>Roll_Back_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Categories_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_tbl_Category.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Selected_Categories</targetReference>
            </connector>
            <label>Yes - Categories Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Category_Products_Selected</name>
        <label>Category Products Selected</label>
        <locationX>534</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Selected_Categories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Category_Products_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tbl_CategoryProducts.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Collection_Selected_Products</targetReference>
            </connector>
            <label>Yes - Category Products Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_RecordId</name>
        <label>Identify RecordId</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Enter_Quote_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_from_RecordId</targetReference>
            </connector>
            <label>Project</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>BT_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_recordId</targetReference>
            </connector>
            <label>BT Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_per_Sqft</name>
        <label>Price per Sqft</label>
        <locationX>534</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>Assign_Amount_from_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Price_per_Sqft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chk_Price_per_Sq_Ft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_Quantity</targetReference>
            </connector>
            <label>Yes - Price per Sqft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Per_Sqft</name>
        <label>Product = Per Sqft</label>
        <locationX>534</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Price_per_Sqft_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Per_Sqft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Category_Products_Selected.QuantityUnitOfMeasure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Per Sqft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Price_per_Sqft_True</targetReference>
            </connector>
            <label>Yes - Per Sqft</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ch_QuoteTemplate</name>
        <dataType>String</dataType>
        <displayField>buildertek__Template_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </filters>
        <object>buildertek__Quote__c</object>
        <sortField>buildertek__Template_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frm_AmountPerSqft</name>
        <dataType>Currency</dataType>
        <expression>{!var_Price_Sqft}*{!var_Sqft}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frm_Null</name>
        <dataType>Number</dataType>
        <expression>NULL</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Quote Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Screen Flow</label>
    <loops>
        <name>Loop_through_Category_Products_Selected</name>
        <label>Loop through Category Products Selected</label>
        <locationX>314</locationX>
        <locationY>2306</locationY>
        <collectionReference>tbl_CategoryProducts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Line_Item_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Selected_Categories</name>
        <label>Loop through Selected Categories</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <collectionReference>Copy_1_of_tbl_Category.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Products_by_Category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Category_Products_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>446</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Assign_QuoteId</targetReference>
        </connector>
        <inputReference>cr_Quote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>314</locationX>
        <locationY>3554</locationY>
        <inputReference>coll_QuoteItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Categories</name>
        <label>Get Categories</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Identify_RecordId</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Category__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Variables_from_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_by_Category</name>
        <label>Get Products (by Category)</label>
        <locationX>534</locationX>
        <locationY>1634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>buildertek__Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Selected_Categories.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_from_RecordId</name>
        <label>Get Project (from RecordId)</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables_from_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>buildertek__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_recordId</name>
        <label>Get Quote (recordId)</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Variables_from_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>buildertek__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
    </recordRollbacks>
    <screens>
        <name>Copy_1_of_Enter_Quote_Details</name>
        <label>Copy 1 of Enter Quote Details</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Categories_Selected</targetReference>
        </connector>
        <fields>
            <name>txt_Categories</name>
            <fieldText>&lt;p&gt;Select the types of Products and Services you would like to add to the Quote&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_tbl_Category</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>buildertek__Category__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Categories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b05a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Category Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Product_Details_Category</name>
        <label>Enter Product Details</label>
        <locationX>534</locationX>
        <locationY>2882</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Price_per_Sqft</targetReference>
        </connector>
        <fields>
            <name>txt_LineItem</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Current Product: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Loop_through_Category_Products_Selected.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Enter line item details related to the product&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Product_Details_Category_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Product_Details_Category_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_QuoteLineItem.buildertek__Item_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <name>chk_Price_per_Sq_Ft</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>var_PriceperSqft</elementReference>
                    </defaultValue>
                    <fieldText>Price per Sq Ft</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Product_Details_Category_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>var_Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>chk_Price_per_Sq_Ft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>var_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_through_Category_Products_Selected.Product_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>chk_Price_per_Sq_Ft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>var_Sqft</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Project_from_RecordId.buildertek__Total_Sq_Feet__c</elementReference>
                    </defaultValue>
                    <fieldText># Sqft</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>chk_Price_per_Sq_Ft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>var_Price_Sqft</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_through_Category_Products_Selected.Product_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost/Sqft</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>chk_Price_per_Sq_Ft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>var_Markup</name>
                    <dataType>Number</dataType>
                    <fieldText>Markup %</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>cr_QuoteLineItem.buildertek__Description__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Quote_Details</name>
        <label>Enter Quote Details</label>
        <locationX>446</locationX>
        <locationY>794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Quote_Variables</targetReference>
        </connector>
        <fields>
            <name>txt_Quote</name>
            <fieldText>&lt;p&gt;Enter Quote Details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Quote_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Quote_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pk_Master_Template</name>
                    <choiceReferences>ch_QuoteTemplate</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Master Template</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Quote_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Quote.buildertek__Expires_On__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>cr_Quote.buildertek__Description__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Products</name>
        <label>Select Products</label>
        <locationX>534</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Category_Products_Selected</targetReference>
        </connector>
        <fields>
            <name>txt_CategoryHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Loop_through_Selected_Categories.Name} Products&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select Products you would like to add to the quote&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tbl_CategoryProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products_by_Category</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2db7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-1d90&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Loop_through_Selected_Categories.Name} Products&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select the Products you would like to add to your quote. &lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Categories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_ProductsSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>coll_QuoteItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>cr_Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Quote__c</objectType>
    </variables>
    <variables>
        <name>cr_QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>buildertek__Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PriceBook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PriceperSqft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Project</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Quote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
