force-app/main/default/flows/Create_Contact_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Variables_Account</name>
        <label>Assign Variables (Account)</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>cr_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_AccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_Account.buildertek__BT_Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Contact</name>
        <label>Assign Variables (Contact)</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>cr_Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>frm_AccountName</name>
        <dataType>String</dataType>
        <expression>{!var_Name.firstName}&amp;&apos; &apos;&amp;{!var_Name.lastName}&amp;&apos; Household&apos;</expression>
    </formulas>
    <interviewLabel>Create Contact Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Assign_Variables_Contact</targetReference>
        </connector>
        <inputReference>cr_Account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputReference>cr_Contact</inputReference>
    </recordCreates>
    <screens>
        <name>Enter_Contact_Details</name>
        <label>Enter Contact Details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables_Account</targetReference>
        </connector>
        <fields>
            <name>Enter_Contact_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Contact_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>var_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Contact_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Contact.MobilePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Contact.Email</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Contact_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <flowName>Create_Project_Screen_Flow</flowName>
        <inputAssignments>
            <name>var_Account</name>
            <value>
                <elementReference>cr_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Contact</name>
            <value>
                <elementReference>cr_Contact.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>cr_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cr_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
