force-app/main/default/flows/New_Account_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection_Vendor_Trade_Types</name>
        <label>Add to Collection (Vendor Trade Types)</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>coll_VendorTradeTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cr_VendorTradeType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Trade_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Type_Vendor</name>
        <label>Assign Variables (Type = Vendor)</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>cr_Account.buildertek__BT_Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Account_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vendor_Trade_Type_Variables</name>
        <label>Assign Vendor Trade Type Variables</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>cr_VendorTradeType.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cr_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_VendorTradeType.Trade_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Trade_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Vendor_Trade_Types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Products_True</name>
        <label>Add Products = True</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Products_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chk_Add_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Products</targetReference>
            </connector>
            <label>Yes - Add Products = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trade_Types_Selected</name>
        <label>Trade Types Selected</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Add_Products_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Trade_Types_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tbl_TradeTypes.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Trade_Types</targetReference>
            </connector>
            <label>Yes - Trade Types Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Vendor</name>
        <label>Type = Vendor</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Type_Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cr_Account.buildertek__BT_Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Trade_Types</targetReference>
            </connector>
            <label>Yes - Type = Vendor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New Account Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Account Screen Flow</label>
    <loops>
        <name>Loop_through_Trade_Types</name>
        <label>Loop through Trade Types</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>tbl_TradeTypes.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vendor_Trade_Type_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Vendor_Trade_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Type_Vendor</targetReference>
        </connector>
        <inputReference>cr_Account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Vendor_Trade_Types</name>
        <label>Create Vendor Trade Types</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Add_Products_True</targetReference>
        </connector>
        <inputReference>coll_VendorTradeTypes</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Trade_Types</name>
        <label>Get Trade Types</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Vendor_Types</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>buildertek__Trade_Type__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Enter_Account_Details</name>
        <label>Enter Account Details</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>Enter_Account_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Account_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Account.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Account_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Account.buildertek__BT_Account_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Account.Phone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>cr_Account.buildertek__Email_Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>cr_Account.BillingAddress</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Vendor_Types</name>
        <label>Select Vendor Types</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trade_Types_Selected</targetReference>
        </connector>
        <fields>
            <name>tbl_TradeTypes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>buildertek__Trade_Type__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Trade_Types</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6639&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Trade Type Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-12dd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>chk_Add_Products</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Products</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Variables_Type_Vendor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Products</name>
        <label>Create Products</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <flowName>Create_Product_Screen_Flow</flowName>
        <inputAssignments>
            <name>var_Account</name>
            <value>
                <elementReference>cr_Account.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>coll_VendorTradeTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Trade_Type__c</objectType>
    </variables>
    <variables>
        <name>cr_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>cr_VendorTradeType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vendor_Trade_Type__c</objectType>
    </variables>
</Flow>
