force-app/main/default/flows/Product_RTF_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Variables_Standard_Price_Book_Entry</name>
        <label>Assign Variables (Standard Price Book Entry)</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>cr_PriceBookEntry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_PriceBookEntry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_PriceBookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cr_PriceBookEntry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Price_Book_Entry_Null</name>
        <label>Price Book Entry = Null</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Price_Book_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Price_Book_Entries_Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standard_Price_Book</targetReference>
            </connector>
            <label>Yes - Has Price Book Entry</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product RTF (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product RTF (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Price_Book_Entry</name>
        <label>Create Price Book Entry</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>cr_PriceBookEntry</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_Book_Entries_Product</name>
        <label>Get Price Book Entries (Product)</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Book_Entry_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables_Standard_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Price_Book_Entries_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Cost__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cr_PriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
