force-app/main/default/flows/Project_RTF_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Variable_Name</name>
        <label>Assign Variable (Name)</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_ProjectName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Name_Null</name>
        <label>Name = Null</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Name_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable_Name</targetReference>
            </connector>
            <label>Yes - Name = Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frm_ProjectName</name>
        <dataType>String</dataType>
        <expression>{!$Record.buildertek__Customer__r.Name}&amp;&apos; - &apos;&amp;{!$Record.buildertek__Address__c}</expression>
    </formulas>
    <interviewLabel>Project RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project RTF (Before Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Name_Null</targetReference>
        </connector>
        <object>buildertek__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
