force-app/main/default/flows/Send_Owner_Email_after_Quote_acceptance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_the_owner_of_the_Quote</name>
        <label>Send Email to the owner of the Quote</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyforEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Owner_Records.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>QuoteConfiguration</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote Configuration</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_value_of_setting</name>
        <label>Check value of setting</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BT_Admin_Setting.Send_customer_Quote_after_signature__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owner_Records</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BT_Admin_Setting.Send_customer_Quote_after_signature__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>False</label>
        </rules>
    </decisions>
    <description>Send Owner Email after Quote acceptance</description>
    <environments>Default</environments>
    <interviewLabel>Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Owner Email after Quote acceptance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Admin setting</description>
        <name>Get_BT_Admin_Setting</name>
        <label>Get BT Admin Setting</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_value_of_setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteConfiguration</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Admin_Interface_Node_Configuration__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Send_customer_Quote_after_signature__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Records</name>
        <label>Get Owner Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_the_owner_of_the_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BT_Admin_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Accepted</stringValue>
            </value>
        </filters>
        <object>Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>BodyforEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Your Quote has been Accepted&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Quote Name : {!$Record.Name}&lt;/p&gt;&lt;p&gt;Quote Amount : {!$Record.Grand_Total__c}&lt;/p&gt;&lt;p&gt;Customer Name : {!$Record.Customer_Account__r.Name}&lt;/p&gt;&lt;p&gt;Owner Name : {!Get_Owner_Records.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email Body</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Quote has been Accepted
Quote Name : {!$Record.Name}
Quote Amount : {!$Record.Grand_Total__c}
Customer Name : {!$Record.Customer_Account__r.Name}
Owner Name : {!Get_Owner_Records.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>OwnerEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Owner:Group.Email}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectforEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Quote Accepted(Id: {!$Record.Id})</text>
    </textTemplates>
</Flow>
