force-app/main/default/flows/Update_Budget_Fields_on_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign1</name>
        <label>Assign1</label>
        <locationX>1005</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>TotalSalesAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop1.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCostAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop1.Total_Costs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalOriginalBudgetAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop1.Original_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Budget Fields on Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Budget Fields on Project</label>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>777</locationX>
        <locationY>530</locationY>
        <collectionReference>Budget_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Budget_Records</name>
        <label>Budget Records</label>
        <locationX>777</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Record</name>
        <label>Update Project Record</label>
        <locationX>442</locationX>
        <locationY>596</locationY>
        <inputAssignments>
            <field>Original_Budget__c</field>
            <value>
                <elementReference>TotalOriginalBudgetAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Costs__c</field>
            <value>
                <elementReference>TotalCostAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Sales_Price__c</field>
            <value>
                <elementReference>TotalSalesAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Project__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Budget_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Original_Budget__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Costs__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Sales_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Budget__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalCostAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalOriginalBudgetAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSalesAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
